<!DOCTYPE html>
<html lang="cs">
<head>
<title>Poznámky</title>
<meta charset="utf-8">
<link rel="stylesheet" href="\static\styles\custom.css" type="text/css">

<style>

</style>
</head>
<div align="center" >
    <div class="formular" >
        <h1><u>Napiš poznámku</u></h1>
        <form method="POST" >
            {{ form.csrf_token }}
            <div><center>
            {{ form.poznamka() }}
            <div><center>
            {{ form.dulezitost() }}
            </center></div>

            <center> <input type="submit" value="Uložit"></center>
        </form>
        <form action="/">
            <center><input type="submit" value="Moje poznámky" ></center>
        </form>
    </div>
</div>

</head>
</html>
